div.space {
  /* border: 1px solid black; */
  padding: 1rem;
  margin: 2rem auto;
} 

@media only screen and (max-width: 400px){
  div.space {
    padding: .5rem;
    margin: 1rem auto;
  } 
}


body.bgDark{
  background-color: rgb(35, 37, 39);
  font-family: 'Century Gothic', CenturyGothic, Geneva,'Monaco monospace', monospace ,sans-serif;
}

body.bg{
  background-color: rgb(177, 177, 177);
  font-family: 'Century Gothic', CenturyGothic, Geneva,'Monaco monospace',  monospace ,sans-serif;
  color:black;
}

.link-design{
  text-decoration: none;
}


/* -------------NAVS--------------- */
.link-style:hover{
  filter: drop-shadow(3px 3px 4px #cd04ff);
}

.signature{
  margin-left:1rem;
  transition: 200ms ease-in-out;
}
.signature:hover{
  filter: drop-shadow(2px 2px 1px #cd04ff);
}
.nav-icon{
  margin: auto;
}

.nav-cont{
  padding:0;
  margin: 0;
}

.hamburger{
  margin-right: 1rem;
}

.space-under{
  padding: 1rem;
}


/* border-bottom-width HAS to go under border-bottom */
.border-bot{
  display: inline-block;
  transition: 100ms step-end ;
  border-bottom: 5px solid #ff006e;
  border-bottom-width: 0px; 
}

.border-bot:hover{
  display: inline-block;
  border-bottom-width: 2px;
}

.logo-center{
  display: flex;
  margin: 1rem auto;

}


/* --------FORM-------------------- */
.form-bg{
  background-color:rgb(255, 255, 255); 
  margin: 3rem auto;
  max-width: 500px;
  box-shadow: 5px 6px 10px rgb(33, 37, 41);
}

.playgame{
  padding: 3rem;
  margin:0;
  background: linear-gradient(135deg, #ff8b42, #ff613d, #ff373a, #ff325d, #ff2d83, #ff27ab, #ff22d5);
}

.greet-player{
  max-height: 5rem;
  
}
#greet-player{
  margin-top: 2rem;
  color:rgb(0, 0, 0);
}

/* ----------------------------------- */

h1, h2, h4, p{
  text-align: center;
  padding: 0;
  margin: 0;
}
footer{
  /* color:rgb(255, 172, 199); */
  color:rgb(200, 0, 100);
  margin-top: 5rem;
}
.footer-space{
  padding: 0 2rem;
  margin: 0 auto;
}

/* ------------GAME-------------- */


.container-decor{
  background-color: rgb(170, 170, 170);
  margin: 3rem auto;
  padding: 0rem 2rem;
  max-width: 90%;
  border-width: 30px;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(255, 82, 2), rgb(178, 25, 209))1;
}
@media only screen and (max-width: 500px){
  .container-decor{
    margin: 1rem auto;    
    padding: 0rem .5rem;
    border-width: .75rem;
  
  }
} 
.greeting-container{
  max-height: 5rem;
  
}
#greeting{
  margin-top: 2rem;
  color:rgb(255, 255, 255);
}


input.input {
  margin: 1rem auto;
  width: 3rem;
  height: 3rem;
  font-size: 30px;
  color:white;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  background: rgb(35, 37, 39);

}
@media only screen and (max-width: 700px){
  input.input {
  width: 2.5rem;
  height: 2.25rem;
  font-size: 20px;
  }

}

.guess-box{
  display:flex;
  margin: auto;
  justify-content: center;
 
}

.alpha-box{
  margin: 5px auto;
  padding: 3px 0;
  border-radius: 35px;
  /* border: 1px solid red; */
  max-width: 50px;
  
}
.alpha-cont{
  
  margin: 1rem auto;
  font-weight: bolder;
  font-size: 25px;
}
.indent1{
  padding: 0rem 2rem;
}
.indent2{
  padding: 0rem 4rem;
}
.indent3{
  padding: 0rem 7rem;
}

@media only screen and (max-width: 800px){
  
  .alpha-box{
    margin: 5px auto;
    /* border: 1px solid red; */
    border-radius:30px;
    max-width: 35px;
  }
  .alpha-cont{
    font-size: 16px;
  }
  .indent1{
    padding: 0rem .5rem; 
  }

  .indent2{
    padding: 0rem 1.5rem;
  }
  .indent3{
    padding: 0rem 3.2rem;
  }

}

@media only screen and (max-width: 600px){
  
  .alpha-box{
    margin: 5px auto;
    /* border: 1px solid red; */
    max-width: 27px;
  }
  .alpha-cont{
    padding: 0;
    margin:0;
    font-size: 12px;
  }
  .indent1{
    padding: 0; 
  }

  .indent2{
    padding: 0rem .5rem;
  }
  .indent3{
    padding: 0rem 1.85rem;
  }

}


/* -------------SCOREBOARD-------------- */
.scrbrd-box {
  margin: 1rem auto;
  padding: .5rem 2rem;
  justify-content: center;
  align-self: center;

}

.stat{
  padding: .5rem 1rem;
  font-family: 'Century Gothic', CenturyGothic, Geneva,'Monaco monospace', monospace ,sans-serif;
  font-weight: bolder;
  color:white;
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(35, 37, 39);
  
}



/* -------------BUTTONS-------------- */
.myBtn{
  display:flex;
  justify-content: center;
  margin: 1rem auto;
  padding: .5rem 1rem;
  font-size: large;
  font-family: 'Century Gothic', CenturyGothic, Geneva,'Monaco monospace', monospace ,sans-serif;
  border: 1px solid black;
  transition: 200ms ease-in-out;
}

.myBtn:hover{ 
  filter:drop-shadow(2px 2px 4px rgba(139, 0, 93, 0.692));
}


#startBtn{
  width: 150px;
  text-align: center;
}
#enterBtn{
  background-color: rgb(216, 53, 106); 
  width: 100px;
  margin: 1rem auto;
  justify-content: center;
  align-self: center;
}
#backBtn{
  width: 100px;
  margin: 1rem auto;
  justify-content: center;
  align-self: center;
}
#clearBtn{
  width: 100px;
  margin: 1rem auto;
}
#nextBtn{
  background-color: rgb(178, 25, 209);
  width: 150px;
  margin: auto;
  margin-bottom:0;
}
.bot-space{
  margin-bottom: 2rem;
}
.btn-close{
  font-size: 30px;
  position:absolute;
  transition: 100ms ease-in-out ;
}
.btn-close:hover{
  box-shadow: 4px 4px 3px rgb(63, 1, 22);
  /* filter:drop-shadow(3px 2px 1px rgb(255, 0, 85)); */
}
.alert{
  margin: auto;
  width: auto;
  font-weight: bold;
  text-align: center;
  border: none;
  
}

.alert-container{
  height: 4rem;
}


/* ---------------TABLE----------------- */

.table-container{
	margin: auto;
  max-width: 900px;
  font-family: 'Century Gothic', CenturyGothic, Geneva,'Monaco monospace', monospace ,sans-serif;
	justify-content: center;
	background-color: rgb(177, 177, 177);

}


.table-label{
	text-align: center;
	margin: auto;
  padding: 0;
	background: linear-gradient(90deg, #ff5202, #ff302f, #ff006e, #ff0090, #fb00d9, #d823fc);
}

/* ------RULES------------ */
.rules{
  padding: 0;
  margin: 2rem auto;
}
.space-rules{
  padding: 1rem;
  margin: 1rem;
  justify-content: space-around;
  max-width: 90%;
  height:auto;
  box-shadow: 5px 6px 10px rgb(33, 37, 41);
}

.space-hints{
  padding: 1rem;
  margin: 1rem;
  justify-content: space-around;
  max-width: 90%;
  height:auto;
  box-shadow: 5px 6px 10px rgb(33, 37, 41);
}

@media only screens and (max-width: 600px){
  .space-rules{
    padding: .5rem;
    margin: 1rem .5rem;
  
  }

.space-hints{
    padding: .5rem;
    margin: 1rem .5rem;
  }

}