div {
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
} 
body.bg{
  background-color: rgb(200, 200, 200);
  font-family: 'Century Gothic', monospace ,sans-serif;
  margin:2rem;
}
.container-decor{
  background-color: rgb(255, 225, 105);
  margin: 2rem auto;
  padding: 0rem 2rem;
  max-width: ;
  /* border: 20px ridge rgb(255, 95, 3); */
  border-width: 20px;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(255, 82, 2), rgb(216, 35, 252))1;
}

.greeting-container{
  max-height: 5rem;
}


.guess-box{
  display:flex;
  margin: auto;
  justify-content: center;
}
h1, h2, h4, p{
  text-align: center;
  padding: 0;
  margin: 0;
}
footer{
  /* color:rgb(255, 172, 199); */
  color:rgb(238, 15, 127);
}
input.input {
  width: 4rem;
  height: 4rem;
  font-size: 50px;
  text-align: center;
  background: rgb(255, 225, 105);
}
button.btn{
  background-color: rgb(255, 95, 3);
  margin: 2rem auto;
  padding: .5rem 1rem;
  font-size: large;
  font-weight: bold;
  font-family: 'Century Gothic', monospace ,sans-serif;
  display:flex;
  justify-content: center;
  border: 1px solid black;
}
#startBtn{
  background-color: rgb(241, 65, 94);
}

#nextBtn{
  background-color: rgb(229, 50, 170);
}

.btn-close{
  font-size: 30px;
  position:absolute;
  transition: 100ms ease-in-out ;
}
.btn-close:hover{
  box-shadow: .4px .4px 5px 5px  rgb(255, 0, 85);
  /* filter:drop-shadow(3px 2px 1px rgb(255, 0, 85)); */
}
.alert{
  margin: auto;
  font-size: larger;
  width: 20rem;
  height: 4rem;
  font-weight: bold;
  text-align: center;
  border: none;
  background-color: rgb(255, 225, 105);
}

.alert-container{
  height: 4rem;
}
/* -------------SCOREBOARD-------------- */
.scrbrd-box {
  width: 7rem;
  margin: 1rem auto;  
}


.round, .points, .chances{
  padding: .5rem;
  width: 2rem;
  font-family: 'Century Gothic', monospace ,sans-serif;
  font-weight: bolder;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(200, 200, 200);
}

/* ---------------TABLE----------------- */
.table-body{
	background-color: rgb(60, 60, 60);
	font-family: 'Century Gothic', sans-serif;
	
}
.table-container{
	margin: 5rem auto;
	max-width: 80%;
	justify-content: center;
	background-color: rgb(255, 225, 105);
}


h1.table-text{
	text-align: center;
	font-family: 'Rampart One', cursive;
	color:black;
	font-size: 50px;
	padding: 10px 0;
	
}

